.services-page-container {
  background-image: url('./images/bg.jpeg');
  background-size: cover;
  border-bottom: black solid 2px;
}

.services-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* Adjust the minmax value as needed */
  gap: 15px;
  /* Adjust the gap between squares */
  max-width: 1000px;
  /* Adjust the maximum width of the grid */
  margin: auto;
  /* Center the grid */
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 416px) {
  .service-links {
    padding: 20px;
    /* Adjust the padding */
    text-align: center;
    /* Center the content */
    text-decoration: none;
    /* Remove default underline */
    height: 150px;
    width: auto;
  }

  .services-link-title {
    background-color: #224eacd7;
    border: black solid 1px;
    border-radius: 10px;
    color: white;
    text-decoration: underline;
    box-shadow: black 0px 0px 4px 1px;
  }

  /* service link background ids */

#service-primary-care {
  background-image: url('./images/primary-health.jpeg');
  background-size: cover;
}

#service-womens-health {
  background-image: url('./images/female.jpeg');
  background-size: cover;
}

#service-mens-health {
  background-image: url('./images/male.jpeg');
  background-size: cover;
  background-size: 110%;
  background-position: center;
}

#service-std-screenings {
  background-image: url('./images/blood-sample.jpeg');
  background-size: cover;
}

#service-walk-in {
  background-image: url('./images/walk-ins.jpeg');
  background-size: cover;
}

#service-telehealth {
  background-image: url('./images/telehealth.jpeg');
  background-size: cover;
}

#service-aesthetics {
  background-image: url('./images/botox.jpeg');
  background-size: cover;
}

#service-sick-visits {
  background-image: url('./images/sick.jpeg');
  background-size: cover;
}

#service-fpact {
  background-image: url('./images/vaginal-health.jpeg');
  background-size: cover;
}

#service-every-woman-counts {
  background-image: url('./images/beast-cancer.jpeg');
  background-size: cover;
}

#service-cash-patients {
  background-image: url('./images/no-problem.jpeg');
  background-size: cover;
}

#service-lipo-c {
  background-image: url('./images/weight-loss.jpeg');
  background-size: cover;
}

#male-erectile-dysfunction {
  background-image: url('./images/male-ed.jpeg');
  background-size: cover;
}

#service-birth-control {
  background-image: url('./images/birth-control.jpeg');
  background-size: cover;
}

#service-pregnancy {
  background-image: url('./images/pregnancy-test.jpeg');
  background-size: cover;
  background-size: 200%;
  background-position: center;
}

#service-immigration-physical {
  background-image: url('./images/immigration-physical.jpeg');
  background-size: cover;
}

}

@media screen and (max-width: 416px) {
  .service-links {
    padding: 15px;
    /* Adjust the padding */
    text-align: center;
    /* Center the content */
    text-decoration: none;
    /* Remove default underline */
    background-color: #224dac;
    color: white;
    font-size: 20px;
  }
}

.service-links {
  border: black solid 1px;
  border-radius: 10px;
  box-shadow: black 0px 0px 4px 1px;
}

.service-links:hover {
  box-shadow: green 0px 0px 4px 1px;
}
