.custom-footer-container {
  position: relative;
  width: 100vw;
  bottom: 0px;
}

.custom-footer-addy {
  justify-content: center;
}

.custom-footer-hours {
  text-decoration: underline;
}

.custom-hover-social-img {
  transition: 1s;
  border-radius: 15px;
}

.custom-hover-social-img:hover {
  height: 60px;
  width: 60px;
  box-shadow: green 0px 0px 2px 2px;
}

.custom-footer-number:hover {
  color: green;
}

.custom-footer-number {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-footer-link {
  transition: 1s;
}

.custom-footer-link:hover {
  padding-left: 20px;
  color: rgb(208, 228, 255);
}

.custom-phone-icon {
  margin-top: 4px;
}
