.custom-footer-container {
  position: relative;
  width: 100%;
  bottom: 0px;
}

.custom-footer-addy {
  justify-content: center;
}

.custom-footer-hours {
  text-decoration: underline;
}

.custom-hover-social-img {
  transition: 1s;
  border-radius: 15px;
}

.custom-hover-social-img:hover {
  height: 60px;
  width: 60px;
  box-shadow: green 0px 0px 2px 2px;
}

.custom-footer-number:hover {
  color: rgb(60, 255, 0);
}

.custom-footer-number {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.custom-footer-link {
  transition: 1s;
}

.custom-footer-link:hover {
  padding-left: 20px;
  color: rgb(0, 0, 0);
}

.custom-phone-icon {
  margin-top: 4px;
}

.footer-num-2 {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  border: solid rgba(255, 255, 255, 0) 1px;
  border-radius: 10px;
  transition: .5s;
}

.footer-num-2:hover {
  background-color: #224dac;
  border: solid black 1px;
  box-shadow: black 1px 1px 4px 1px;
}
